[Unit]
Description=Xresources
After=tizen-runtime.target
Requires=tizen-runtime.target

[Service]
Type=forking
EnvironmentFile=/run/tizen-mobile-env
ExecStart=/etc/rc.d/init.d/xresources start
ExecStop=/etc/rc.d/init.d/xresources stop

[Install]
WantedBy=multi-user.target
